*.txt
*.pth
*.jpg

logs
snapshots
masks
reconstructions
evaluation/anom-skaled
evaluation/radolan-complete-box
evaluation/radolan-skaled-box
evaluation/skaled-2012
.idea
slurm-*
local_settings.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
