# evaluation files
*.txt
*.pth
*.jpg
*.h5
*.nc
*.gif
slurm-*
.idea


# directories
logs/*
snapshots/*
masks/*
evaluation/*
reports/*
images/*


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
