h5py==3.2.1
numpy~=1.21.2
protobuf==3.5.2.post1
six==1.16.0
tensorboardX~=2.4
torch==1.8.1
torchaudio==0.8.1
torchvision~=0.10.1
tqdm~=4.62.2
typing-extensions==3.10.0.0

netcdf4~=1.5.7
matplotlib~=3.4.2
imageio~=2.9.0
python-dateutil~=2.8.2
pandas~=1.2.5
fpdf~=1.7.2
